// Brandon Regular
@font-face {
	font-family: "AvenirNextCondensed";
	src: url("../fonts/AvenirNextCondensed-Bold-01.ttf");
	src: url("../fonts/AvenirNextCondensed-Bold-01.ttf") format("truetype");
	font-style: bold;
}
