@charset "UTF-8";
@font-face {
  font-family: "AvenirNextCondensed";
  src: url("../fonts/AvenirNextCondensed-Bold-01.ttf");
  src: url("../fonts/AvenirNextCondensed-Bold-01.ttf") format("truetype");
  font-style: bold; }

/* line 2, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
html {
  font-family: 'Open Sans', sans-serif; }

/* line 6, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
body {
  height: 100%; }

/* line 10, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
h1 {
  font-family: "AvenirNextCondensed";
  font-size: 23px;
  text-transform: uppercase; }

/* line 16, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #BBBBBB; }

/* line 23, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold; }

/* line 29, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#likes {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase; }

/* line 35, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
p {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.6em;
  text-transform: none;
  color: black; }

/* line 44, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
p > a {
  color: #BBBBBB; }

/* line 48, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
p > a:hover,
p > a:active,
td > a:hover,
td > a:active {
  color: black; }

/* line 55, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: white;
  z-index: 50; }

/* line 65, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.facts {
  font-size: 13px;
  line-height: 1.5em;
  width: calc(100% - 60px);
  margin: 0 30px;
  margin-top: 15px;
  margin-bottom: 10px; }

/* ***************************************************************
/***************************************************************
index.html
/***************************************************************
/*************************************************************** */
/* ***************************************************************
SVG MENU
*************************************************************** */
/* line 86, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  overflow-x: auto;
  height: 100%;
  padding: 20px; }

/* line 98, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#menu-svg {
  position: absolute;
  height: 75%;
  top: -10px;
  bottom: 0;
  left: 15px;
  right: 15px;
  padding-right: 40px;
  padding-left: 40px;
  margin: auto; }
  /* line 109, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
  #menu-svg path {
    stroke-dasharray: 7000;
    stroke-dashoffset: 0;
    animation: dash 6s linear forwards;
    visibility: hidden; }
  /* line 116, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
  #menu-svg path.cls-1 {
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s; }

@keyframes dash {
  from {
    stroke-dashoffset: 7000; }
  to {
    stroke-dashoffset: 0;
    visibility: visible; } }

/* line 132, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.menu-link {
  z-index: 1; }
  /* line 135, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
  .menu-link:hover {
    text-decoration: none;
    fill: lightgrey;
    cursor: pointer; }

/* ***************************************************************
ABOUT Button und Tab
*************************************************************** */
/* line 146, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.about-link {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 5px 5px;
  text-align: center;
  height: 44px;
  font-size: 20px;
  border-top: 5px solid black;
  background: white;
  font-family: AvenirNextCondensed-Bold, Avenir Next Condensed;
  font-weight: 700;
  z-index: 100; }

/* line 162, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.mcbtn:hover,
.mcbtn:active {
  text-decoration: none;
  color: lightgrey;
  cursor: pointer; }

/* line 169, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.about-tab {
  height: 0;
  /* 0 height - change this with JavaScript */
  width: 100%;
  /* 100% Full-width */
  position: fixed;
  /* Stay in place */
  z-index: 99;
  /* Stay on top */
  bottom: 0px;
  background-color: white;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  border-top: 5px solid black; }

/* line 187, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.about-container {
  width: 100%;
  height: 100%; }

/* line 192, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.about-text {
  padding-bottom: 90px; }

/* line 196, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.img-wrapper {
  width: 100%;
  text-align: center; }

/* line 201, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.about-text img {
  max-width: 500px;
  margin-top: 15px; }

/* line 206, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.about-text h1,
.about-text h2,
.about-text p {
  text-align: left;
  padding: 0 30px; }

/* line 213, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.about-like {
  color: black;
  margin: 30px 0; }

/* line 218, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.social-icons {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 44px;
  padding-bottom: 5px;
  color: black;
  background: white;
  visibility: hidden; }

/* line 229, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.social-icons i {
  margin: 10px 15px; }

/* ***************************************************************
/***************************************************************
Kategorien Seiten
/***************************************************************
/*************************************************************** */
/* line 240, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.header-category {
  height: 150px; }

/* line 244, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-title {
  font-family: AvenirNextCondensed-Bold, Avenir Next Condensed;
  font-weight: 700;
  font-size: 23px;
  position: absolute;
  left: 0px;
  top: 60px;
  text-align: left; }

/* line 254, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-header {
  position: relative;
  width: 320px;
  text-align: center;
  margin: 0 auto; }

/* line 261, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-header .fa-angle-left {
  position: absolute;
  left: 0px;
  top: 30px; }

/* line 267, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.fa-facebook:hover,
.fa-instagram:hover,
.fa-edit:hover,
.fa-comment-o:hover,
.fa-envelope-o:hover,
.fa-angle-left:hover,
.fa-angle-right:hover {
  color: lightgrey;
  cursor: pointer; }

/* line 278, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-header .fa-angle-right {
  position: absolute;
  right: 0px;
  top: 30px; }

/* line 284, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#_1_active,
#_2_active,
#_3_active,
#_4_active,
#_5_active {
  fill: black; }

/* line 292, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#navbar-svg {
  height: 109px;
  fill: lightgrey; }

/* hover macht punkte grau */
/* line 300, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#navbar-svg:hover {
  fill: lightgrey;
  cursor: pointer; }

/* hover macht pfad grau */
/* line 308, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#navbar-svg:hover path {
  stroke: lightgrey; }

/* ***************************************************************
Category Grid System
*************************************************************** */
/* line 317, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-content {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-top: 140px;
  padding-bottom: 44px; }
  @media (min-width: 768px) {
    /* line 317, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    .category-content {
      padding-left: 5%;
      padding-right: 5%; } }

/* line 330, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-grid {
  height: 230px;
  margin-bottom: 0px;
  border-top: 10px solid white;
  padding: 0;
  overflow: hidden;
  text-align: center; }
  @media screen and (min-width: 570px) {
    /* line 330, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    .category-grid {
      height: 270px; } }
  @media (min-width: 768px) {
    /* line 330, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    .category-grid {
      border-top: 20px solid white;
      border-left: 15px solid white;
      border-right: 15px solid white;
      background: black;
      /* nur zum sehen wie gross bilder sein müssten */
      height: 270px; } }

/* line 350, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-info-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  padding-top: 50px; }

/* line 366, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-link:hover,
.category-link:focus {
  color: black; }

/* line 371, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-link:hover .category-info-overlay,
.category-link:active .category-info-overlay,
.category-link:focus .category-info-overlay {
  opacity: 1;
  transition: .5s ease; }

/* line 378, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-link:hover h1,
.category-link:active h1,
.category-link:focus h1 {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* line 386, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-link:hover p,
.category-link:active p,
.category-link:focus p {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  -moz-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

/* line 394, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-link p {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
  font-size: 15px;
  text-transform: uppercase; }

/* line 401, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.category-img {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  z-index: 1; }

/* ***************************************************************
/***************************************************************
Post Seiten
/***************************************************************
/*************************************************************** */
/* ***************************************************************
Post Header
*************************************************************** */
/* line 422, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.header-post {
  height: 100px; }

/* line 426, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-category-title {
  font-family: AvenirNextCondensed-Bold, Avenir Next Condensed;
  font-weight: 700;
  font-size: 20px;
  position: absolute;
  left: 30px;
  top: 2px;
  text-align: left; }

/* line 436, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-category-title:hover {
  color: lightgrey;
  cursor: pointer; }

/* line 441, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-header {
  position: relative;
  width: 320px;
  text-align: center;
  margin: 0 auto; }

/* line 448, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-header .fa-angle-left {
  position: absolute;
  left: 0px;
  top: 20px; }

/* line 454, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-header .fa-angle-right {
  position: absolute;
  right: 0px;
  top: 20px; }

/* line 460, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#navbar-post-svg {
  height: 80px;
  fill: lightgrey;
  position: absolute;
  right: 30px;
  top: 5px; }

/* hover macht punkte grau */
/* line 471, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#navbar-post-svg:hover {
  fill: lightgrey;
  cursor: pointer; }

/* hover macht pfad grau */
/* line 479, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
#navbar-post-svg:hover path {
  stroke: lightgrey; }

/* ***************************************************************
Post Inhalt
*************************************************************** */
/* line 488, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-main {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 34px; }
  @media screen and (min-width: 768px) {
    /* line 488, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    .post-main {
      width: 80%;
      margin-left: 10%;
      padding-bottom: 54px; } }
  @media screen and (min-width: 960px) {
    /* line 488, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    .post-main {
      width: 70%;
      margin-left: 15%;
      padding-bottom: 54px; } }
  @media screen and (min-width: 1120px) {
    /* line 488, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    .post-main {
      width: 60%;
      margin-left: 20%;
      padding-bottom: 54px; } }
  @media screen and (min-width: 1300px) {
    /* line 488, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    .post-main {
      width: 50%;
      margin-left: 25%;
      padding-bottom: 54px; } }

/* line 515, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-content {
  padding: 0 30px; }

/* line 519, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.post-img {
  margin-top: 20px; }

/* line 523, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  margin-top: 20px; }

/* line 532, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.responsive-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 541, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  padding: 4px 4px 4px 2px;
  border-top: none; }

/* line 547, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
.table {
  table-layout: fixed;
  word-wrap: break-word; }

/* line 551, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
th {
  width: 25%; }
  @media screen and (max-width: 400px) {
    /* line 551, /Users/Simone/Documents/MMP/portfolio/sass/custom.scss */
    th {
      width: 35%; } }

/* ----------------------------------------------
 * Post Titel Animation
 * Generated by Animista on 2017-5-21 16:0:40
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

/*# sourceMappingURL=custom.css.map */