<!DOCTYPE html>
<html lang="de">

<head>

    <!-- Metadaten -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1 maximum-scale=1.0, user-scalable=0' name='viewport">

    <title>Simone Schregenberger</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/bootstrap.min.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/css/custom.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Fontawesome Icons -->
    <script src="https://use.fontawesome.com/96da2a1636.js"></script>
    <!-- W3 Funktionen (für includeHTML)-->
    <script src="https://www.w3schools.com/lib/w3data.js"></script>

</head>


<body>



{{content}}








<!-- About tab -->
<div id="about-tab" class="about-tab">
    <div class="about-container">
        <div class="about-text">
            <img src="img/portrait_simone.jpg" width="90%">
            <h1>Simone Schregenberger</h1>
<br>
    <p>Diese Webseite ist noch im Aufbau!</p>
<br>
            <p>Hello! I'm studying <a href="http://studium.htwchur.ch/multimedia-production/" target="_blank">multimedia production</a> at the University of Applied Sciences (HTW) Chur, Switzerland.</p>
            <p>I've travelled 22 times around the sun and my heart beats for:
            <br>- Blabliblu
            <br>- Blabliblu
            <br>- Blabliblu
           </p>

            <p>Diese Webseite ist noch im Aufbau!</p>

            <p>If you like my work, feel free to <a href="mailto:#">contact</a> me.
            <br>Ps: Please don't try to call, I probably won't answer.</p>

        </div>
        <div class="social-icons" id="social-icons">
            <a href="https://www.facebook.com/simone.schregenberger" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/ssimoneenomiss/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
            <a href="http://portfolios.htwchur.ch/visua1/schregenberger/" target="_blank"><i class="fa fa-edit fa-2x" aria-hidden="true"></i></a>
            <a href="sms:#"><i class="fa fa-comment-o fa-2x" aria-hidden="true"></i></a>
            <a href="mailto:#"><i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<!-- / About tab -->

<!-- Footer Buttons -->
<div class="about-link">
    <!-- Menu Button -->
    <span id="div1" style="display:block" onclick="openNav()"> <div class="mcbtn menubtn" onclick=" replace('div1','div2')">ABOUT</div></span>
    <!-- Close Button -->
    <span id="div2" style="display:none" onclick="closeNav()"><div class="mcbtn closebtn" onclick=" replace('div2','div1')">CLOSE</div> </span>
</div>
<!-- / Footer Buttons -->

<!-- JS -->
<script src="js/custom.js"></script>

</body>

</html>
